# Amostragem

## Carregamento da base de dados

In [ ]:
import pandas as pd
import random
import numpy as np

In [ ]:
dataset = pd.read_csv('census.csv')

In [ ]:
dataset.shape

(32561, 15)

In [ ]:
dataset.head()

   age          workclass  final-weight  ... hour-per-week  native-country  income
0   39          State-gov         77516  ...            40   United-States   <=50K
1   50   Self-emp-not-inc         83311  ...            13   United-States   <=50K
2   38            Private        215646  ...            40   United-States   <=50K
3   53            Private        234721  ...            40   United-States   <=50K
4   28            Private        338409  ...            40            Cuba   <=50K

[5 rows x 15 columns]

In [ ]:
dataset.tail()

       age      workclass  final-weight  ... hour-per-week  native-country  income
32556   27        Private        257302  ...            38   United-States   <=50K
32557   40        Private        154374  ...            40   United-States    >50K
32558   58        Private        151910  ...            40   United-States   <=50K
32559   22        Private        201490  ...            20   United-States   <=50K
32560   52   Self-emp-inc        287927  ...            40   United-States    >50K

[5 rows x 15 columns]

## Amostragem aleatória simples

In [ ]:
df_amostra_aleatoria_simples = dataset.sample(n = 100, random_state = 1)

In [ ]:
df_amostra_aleatoria_simples.shape

(100, 15)

In [ ]:
df_amostra_aleatoria_simples.head()

       age          workclass  ...  native-country  income
9646    62   Self-emp-not-inc  ...   United-States   <=50K
709     18            Private  ...   United-States   <=50K
7385    25            Private  ...   United-States    >50K
16671   33            Private  ...   United-States   <=50K
21932   36            Private  ...   United-States   <=50K

[5 rows x 15 columns]

In [ ]:
def amostragem_aleatoria_simples(dataset, amostras):
  return dataset.sample(n = amostras, random_state=1)

In [ ]:
df_amostra_aleatoria_simples = amostragem_aleatoria_simples(dataset, 100)
df_amostra_aleatoria_simples.shape

(100, 15)

In [ ]:
df_amostra_aleatoria_simples.head()

       age          workclass  ...  native-country  income
9646    62   Self-emp-not-inc  ...   United-States   <=50K
709     18            Private  ...   United-States   <=50K
7385    25            Private  ...   United-States    >50K
16671   33            Private  ...   United-States   <=50K
21932   36            Private  ...   United-States   <=50K

[5 rows x 15 columns]

## Amostragem sistemática

In [ ]:
dataset.shape

(32561, 15)

In [ ]:
len(dataset) // 100

325

In [ ]:
# random.seed(1)
random.randint(0, 325)

68

In [ ]:
68 + 325

393

In [ ]:
393 + 325

718

In [ ]:
np.arange(68, len(dataset), step = 325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

In [ ]:
def amostragem_sistematica(dataset, amostras):
  intervalo = len(dataset) // amostras
  random.seed(1)
  inicio = random.randint(0, intervalo)
  indices = np.arange(inicio, len(dataset), step = intervalo)
  amostra_sistematica = dataset.iloc[indices]
  return amostra_sistematica

In [ ]:
df_amostra_sistematica = amostragem_sistematica(dataset, 100)
df_amostra_sistematica.shape

(100, 15)

In [ ]:
df_amostra_sistematica.head()

      age      workclass  final-weight  ... hour-per-week  native-country  income
68     49   Self-emp-inc        191681  ...            50   United-States    >50K
393    34      State-gov         98101  ...            45               ?    >50K
718    22        Private        214399  ...            15   United-States   <=50K
1043   44        Private        167005  ...            60   United-States    >50K
1368   52        Private        152234  ...            40           Japan    >50K

[5 rows x 15 columns]

## Amostra estratificada

In [ ]:
from sklearn.model_selection import StratifiedShuffleSplit

In [ ]:
dataset['income'].value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [ ]:
7841 / len(dataset), 24720 / len(dataset)

(0.2408095574460244, 0.7591904425539756)

In [ ]:
0.2408095574460244 + 0.7591904425539756

1.0

In [ ]:
split = StratifiedShuffleSplit(test_size=0.1)
for x, y in split.split(dataset, dataset['income']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

In [ ]:
df_x.shape, df_y.shape

In [ ]:
100 / len(dataset)

0.0030711587481956942

In [ ]:
split = StratifiedShuffleSplit(test_size=0.0030711587481956942)
for x, y in split.split(dataset, dataset['income']):
  df_x = dataset.iloc[x]
  df_y = dataset.iloc[y]

In [ ]:
df_x.shape, df_y.shape

((32461, 16), (100, 16))

In [ ]:
df_y.head()

       age workclass  final-weight  ...  native-country  income grupo
25406   26   Private        122206  ...   United-States   <=50K   251
3639    39   Private        218490  ...   United-States    >50K    36
2916    38   Private         37028  ...   United-States   <=50K    28
25166   27   Private        303954  ...   United-States   <=50K   249
15429   36   Private        149833  ...   United-States   <=50K   152

[5 rows x 16 columns]

In [ ]:
df_y['income'].value_counts()

 <=50K    76
 >50K     24
Name: income, dtype: int64

In [ ]:
def amostragem_estratificada(dataset, percentual):
  split = StratifiedShuffleSplit(test_size=percentual, random_state=1)
  for _, y in split.split(dataset, dataset['income']):
    df_y = dataset.iloc[y]
  return df_y

In [ ]:
df_amostra_estratificada = amostragem_estratificada(dataset, 0.0030711587481956942)
df_amostra_estratificada.shape

(100, 16)

## Comparativo dos resultados

In [ ]:
dataset['age'].mean()

38.58164675532078

In [ ]:
df_amostra_aleatoria_simples['age'].mean()

39.41

In [ ]:
df_amostra_sistematica['age'].mean()

37.57

In [ ]:
df_amostra_estratificada['age'].mean()

36.9